html {
}
body {
    margin: 0px;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    justify-items: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(182, 199, 218, 0.2);
}

.logo_container {
    display: flex;
    width: 34%;
    padding-left: 6em;
    align-items: center;
}

.logo {
    display: flex;
}

.company_name {
    display: flex;
    padding-left: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

.menu > div{
    display: flex;
    flex-wrap: no-wrap;
    align-content: space-around;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.about_us {
    display: flex;
    white-space: nowrap;
}

.contact_us {
    display: flex;
    width: 33%;
    padding: 1em;
    padding-right: 2em;
    justify-content: space-around;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 8em;
}

.intro_right {
    display: flex;
    flex-direction: column;
    padding-left: 9em;
    width: 50%;
    align-items: space-around;
    justify-content: flex-end;
}

.intro_head {
    width: 75%;
    font-size: 1.8em;
    font-weight: bold;
    padding-bottom: 1em;
}

.intro_text {
    font-size: 1.1em;
    width: 60%;
}

.intro_contact_us {
    display: flex;
    margin-top: 1em;
    align-content: flex-start;
}

.get_in_touch_button {
    display: flex;
    flex-direction: row;
    background-color: #0F87EF;
    justify-content: space-around;
    padding: 0.8em;
    padding-right:2em;
    padding-left:2em;
    color: white;
    border-radius: 0px 10px 10px 10px;
    font-weight: 300;
}

.service_offerings {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.service_offerings_title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.8em;
    width: 50%;
    padding: 0.5em;
}

.service_offerings_text {
    display: flex;
    font-size: 1.1em;
    justify-items: center;
    text-align: center;
    width: 55%;
    padding: 0.5em;
    margin-bottom: 2em;
}

.intro > img {
    width: 42%;
}

.service_section_text_right {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 5em;
}

.service_section_text_left {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 5em;
}

.service_section_text_left > .service_section_text {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    padding-right: 2em;
}

.service_section_text_right > .service_section_text {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-start;
    padding-left: 2em;
}

.service_section_container {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-content: space-around;
}

.service_section_text_right > .service_section_image {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    padding-right: 2em;
}

.service_section_text_left > .service_section_image {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 2em;
}

.service_section_image > img {
    display: flex;
    width: 75%;
}

.service_section_text_title {
    display: flex;
    width: 75%;
    justify-items: flex-start;
    margin-bottom: 1em;
}

.service_section_text_title_logo {
    display: flex;
    background-color: #0F87EF;
    border-radius: 0px 10px 10px 10px;
    padding: 1em;
}

.service_section_text_title_text {
    display: flex;
    padding-left: 0.5em;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.service_section_text_text {
    display: flex;
    width: 75%;
    justify-items: flex-start;
    font-size: 1.1em;
}

.section_about_us {
    display: flex;
    height: 400px;
    margin-top: 8em;
    box-sizing: content-box;
    background: url("./blue_background.png");
    background-attachment: fixed;
    margin-bottom: 6em;
}

.robot_hands {
    display: flex;
    width: 50%;
    position: relative;
    top: -120px;
}

.robot_hands > img {
    width: 754px;
    height: 665px;
}

.text_container {
    display: flex;
    position: relative;
    bottom: -160px;
    flex-direction: row;
    align-items: flex-end;
    width: 50%;
}

.text_bubble {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 2em;
    background-color: white;
    border-radius: 0px 32px 32px 32px;
}

.about_us_title {
    font-size: 1.6em;
    font-weight: bold;
}

.about_us_text {
    padding-bottom: 2em;
}

.section_separator {
    display: flex;
    height: 200px;
    background: #FBFCFF;
}

.section_team {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 7em;
}

.team_title {
    font-weight: bold;
    font-size: 1.8em;
}

.team_members{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.member_card {
    margin: 2em;
    border-radius: 0px 16px 16px 16px;
    border: 1px solid #E4EBF4;
}

.member_card > img {
    height: 150px;
    width: 220px;
    border-radius: 0px 16px 0px 0px;
    background-color:#0F87EF;
}

.first_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}

.member_linkedin {
    display: flex;
}

a {
    text-decoration: none;
}

.member_name {
    font-size: 1.1em;
    font-weight: bold;
}

.member_linkedin > a {
    text-decoration: none;
    background-color: #0F87EF;
    padding-left: 0.3em;
    padding-right: 0.3em;
    color: white;
    font-weight: bold;
}

.second_row {
    display: flex;
    font-weight: 400;
    color: #0F87EF;
    padding-left: 1em;
    padding-bottom: 1em;
}

.footer {
    display: flex;
    align-content: center;
    background-color: #161938;
    height: 230px;
}


.footer > .logo_container > .company_name {
    color: white;
}

.footer_contact {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
    color: white;
}
